In [1]:
import pandas as pd

In [2]:
pd .__version__

'2.2.2'

In [3]:
# look for the dataset : link in the repo

In [4]:
df = pd.read_csv('yellow_tripdata_2021-07.csv', nrows=100)

In [5]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.80,1,N,90,68,1,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.90,1,N,113,90,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.80,1,N,88,232,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.40,1,N,79,249,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.00,1,N,142,238,1,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2021-07-01 00:35:21,2021-07-01 00:40:49,1,1.40,1,N,249,68,1,6.5,3.0,0.5,2.55,0.0,0.3,12.85,2.5
96,2,2021-07-01 00:04:34,2021-07-01 00:20:15,2,3.11,1,N,48,4,1,13.5,0.5,0.5,3.46,0.0,0.3,20.76,2.5
97,2,2021-07-01 00:29:29,2021-07-01 00:36:14,3,2.84,1,N,79,140,1,9.5,0.5,0.5,3.32,0.0,0.3,16.62,2.5
98,1,2021-07-01 00:12:37,2021-07-01 00:22:54,1,2.00,1,N,41,116,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0
99,1,2021-07-01 00:27:11,2021-07-01 00:35:23,1,2.00,1,N,116,151,1,9.0,0.5,0.5,4.00,0.0,0.3,14.30,0.0

In [6]:
# Now lets take this dataset and put it to our postgres

In [7]:
#for that we need to first generate a schema create table that specifies type of rows columns

In [8]:
# for that in pandas there is a module called io and in io we have another package sqql and 
# in sql we have get_schema()

In [9]:
# Using this we can vonvert the df we have to ddl(data definition language)

In [10]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [11]:
#one thing we can see is the datetime's datatype is TEXT which needs to be changed

In [12]:
#we need to tell panda that this is actually timestamp

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
from sqlalchemy import create_engine

In [15]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\python312\lib\site-packages (2.9.10)

In [16]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\subed\anaconda3\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import psycopg2

In [18]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [19]:
engine.connect()

In [57]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [21]:
#we need to genereate ddl statement for postgres to understand

In [22]:
#we need to tell pandas that we want to put this in postgrel and then it will 
#generate the statement that works for postgres

In [23]:
#For that we actually need to create a connection to postgres and after that it will generate a statement

In [24]:
#we will need to have this connection anyways to be able to write data to our database so lets do that
#pandas uses a library called sql alchemy : python library for dealing with sql

In [25]:
!pip install alchemy

Requirement already satisfied: alchemy in c:\python312\lib\site-packages (20.5)
Requirement already satisfied: requests==2.22.0 in c:\python312\lib\site-packages (from alchemy) (2.22.0)
Requirement already satisfied: python-daemon==2.2.4 in c:\python312\lib\site-packages (from alchemy) (2.2.4)
Requirement already satisfied: filelock==3.0.12 in c:\python312\lib\site-packages (from alchemy) (3.0.12)
Requirement already satisfied: docutils in c:\python312\lib\site-packages (from python-daemon==2.2.4->alchemy) (0.21.2)
Requirement already satisfied: lockfile>=0.10 in c:\python312\lib\site-packages (from python-daemon==2.2.4->alchemy) (0.12.2)
Requirement already satisfied: setuptools in c:\python312\lib\site-packages (from python-daemon==2.2.4->alchemy) (69.2.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\python312\lib\site-packages (from requests==2.22.0->alchemy) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\python312\lib\site-packages (from requests==2.22.0->alchemy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\python312\lib\site-packages (from requests==2.22.0->alchemy) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\python312\lib\site-packages (from requests==2.22.0->alchemy) (2024.2.2)

In [59]:
# we only read the first 100 rows

In [61]:
# To read entire , we need to batch it to chunk this csv file into smaller batches
# using iterator from pandas

In [63]:
df_iter = pd.read_csv('yellow_tripdata_2021-07.csv',iterator =True,chunksize = 100000)

In [65]:
df = next(df_iter)

In [67]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.80,1,N,90,68,1,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.90,1,N,113,90,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.80,1,N,88,232,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.40,1,N,79,249,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.00,1,N,142,238,1,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-07-02 08:48:33,2021-07-02 09:04:45,0,5.10,1,N,141,4,1,16.5,3.0,0.5,5.00,0.0,0.3,25.30,2.5
99996,1,2021-07-02 08:33:48,2021-07-02 08:39:06,1,1.10,1,N,107,170,1,6.0,2.5,0.5,7.00,0.0,0.3,16.30,2.5
99997,1,2021-07-02 08:41:40,2021-07-02 08:48:48,1,1.40,1,N,170,141,2,7.0,2.5,0.5,0.00,0.0,0.3,10.30,2.5
99998,1,2021-07-02 08:53:00,2021-07-02 09:01:30,1,1.50,1,N,229,263,1,8.0,2.5,0.5,2.00,0.0,0.3,13.30,2.5
99999,2,2021-07-02 08:21:00,2021-07-02 08:25:00,1,0.74,1,N,237,262,1,5.0,0.0,0.5,1.66,0.0,0.3,9.96,2.5

In [69]:
len(df)

100000

In [71]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [75]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.8,1,N,90,68,1,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.9,1,N,113,90,2,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.8,1,N,88,232,2,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.4,1,N,79,249,1,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.0,1,N,142,238,1,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [81]:

#it will go to our database and insert all the rows 
# first it will create a table and then it will insert all the rows

In [87]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [79]:
#what will happen effectively when we do this : we will only execute "CREATE TABLE"
#but we will not insert any data
#because we are doing it in chunks so first we want to create a table and then insert the data chunk by chunk

In [91]:
#pgcli-h localhost -p 5432 -u root -d ny_taxi 

# Perform \dt 
# select 1;
# \d yellow_taxi_data

**Now, we can finally put some data to the table**

In [94]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 8.2 s
Wall time: 13.3 s

1000

In [96]:
#now we can perform count operation in bash to see the changes

In [102]:
#root@localhost:ny_taxi> SELECT count(1) FROM yellow_taxi_data;
#how many rows we have in table

In [104]:
#Now we need to insert the rest of the dataframe to our table

In [110]:
from time import time

In [118]:
while True:
    try:
        t_start = time()
        df = next(df_iter)  # Attempt to fetch the next chunk
        
        # Convert datetime columns to the correct type
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)    

        # Insert data into the database
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        t_end = time()
        print('Inserted another chunk ... took %.3f seconds' % (t_end - t_start))

    except StopIteration:
        # Handle the case where the iterator is exhausted
        print("All chunks have been processed.")
        break  # Exit the loop

All chunks have been processed.